.container {
  width: 1000px;
  height: 350px;
  .slide {
    width: 80%;
    justify-content: flex-start;
    box-shadow: 0px 0px 15px 1px rgba(124, 121, 121, 0.7);
    z-index: 2;
    opacity: 1;
    .image {
      height: 100%;
      width: 100%;
    }
  }
}
.btn {
  position: absolute;
  top: 50%;
  z-index: 1;
  right: 13%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
}
.direction {
  left: -58%;
  transform: rotate(-180deg) translateY(50%);
}
