.video {
  display: block;
  min-height: 100vh;
  .ofcv {
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    height: 100%;
    object-fit: cover;
    object-position: center;
    font-family: "object-fit: cover, object-position: center";
  }
}
