.navBars {
    position: fixed;
    right: 0;
    z-index: 999999999999;
    top: 50vh;
    transform: translateY(-50%);
    .wrapper {
        background-color: rgba(7, 65, 76, 0.7);
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        padding: 6px;
        .nav {
            position: relative;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin: 15px 0;
            display: flex;
            transition: all 0.25s ease-in-out;
            cursor: pointer;
            h5 {
                margin: auto;
                color: #fff;
            }
            .content {
                display: flex;
                flex-direction: column;
                position: absolute;
                background-color: var(--primary-color-);
                opacity: 0;
                transition: all 0.25s ease-in-out;
                height: 50px;
                right: 40px;
                top: -10px;
                ::before {
                    content: "";
                    right: -50px;
                    position: absolute;
                    border: 25px solid;
                    bottom: 0;
                    border-color: transparent  transparent transparent var(--primary-color-);

                }
                h4 {
                    margin:  auto 4px auto 10px;
                    color: var(--boder-color-);
                    width: 80px;
                    text-align: center;
                }
                
            }
            &:hover {
                background-color: var(--boder-color-);
                h5 {
                    color: #000;
                }
                .content {
                    opacity: 1;
                    transform: translateX(-20px);
                }
            }
        }
        .nav.active {
            background-color: var(--boder-color-);
            h5 {
                color: #000;
            }
        }
    }
}