.image {
  width: 100%;
  display: flex;
  background-color: #fff;
  h2 {
    display: none;
  }
  img {
    width: 100%;
    overflow: hidden;
  }
}

@media (max-width: 1280px) {

}
@media (max-width: 960px) {
  
}
@media (max-width: 600px) {
  .image {
    width: 100%;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    margin-top: 20px;
    h2 {
      display: flex;
      margin: 0 auto 10px;
    }
    img {
      width: 100%;
      overflow: hidden;
    }
  }
}

