.video {
  display: block;
  min-height: 50vh;
  box-shadow: 20px 20px 50px 10px pink inset;
  &::before {
    content: '';
    height: 200px;
    width: 100%;
    background: linear-gradient(
      0deg,
      var(--primary-color-),
      rgba(7, 65, 76, 0.1)
    );
    position: absolute;
    bottom: 0;
    z-index: 1;
    transform: translateX(-50%);
  }
  .ofcv {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    box-shadow: 5px 10px 20px blue inset;
    overflow: hidden;
    object-fit: fill;
  }
  .content {
    margin-top: 70vh;
    .description {
      display: flex;
      margin-right: 20px;
      .text {
        margin-right: 20px;
        z-index: 2;
        text-align: left;
        width: 150px;
        opacity: 0;
        h4 {
          width: 120px;
          position: relative;
          &::before {
            content: '';
            height: 5px;
            background: linear-gradient(
              90deg,
              var(--border-color-),
              var(--border-color-),
              #b8893f
            );
            position: absolute;
            bottom: -6px;
            width: 100%;
          }
        }
        p,
        h4 {
          color: white;
          position: relative;
          font-size: 20px;
          font-family: var(--font-family-);
          text-transform: uppercase;
          margin: 0 0 10px;
        }
      }
    }
  }
}
